{% extends 'base.html' %}
{% block start %}

<div class="container mt-5">
  <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Update Document</h2>
    <hr>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Document Name</label>
      <input type="text" name="receipe_name" value = "{{receipe.receipe_name}}" required class="form-control">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Document Description</label>
      <textarea class="form-control" name ="receipe_descripton" required>{{receipe.receipe_descripton}}</textarea>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Document Image</label>
      <input type="file" name="receipe_image" class="form-control">
    </div>

    <button type="submit" class="btn btn-success">Update Document</button>
  </form>

  <br>

  

</div>


    
{% endblock %}
